.flex-container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
}

.cards {
    padding-top: 10px;
    display: flex;
    margin: 10px;
    margin-top: 20px;
}

.precio {
    color:red;
    font-weight: bold;
    font-size: 20px;
}

